
/*Main*/
main h2 {
    display: flex;
    justify-content: center;
    background-color: #F28705;
    padding: 0.5rem 10rem;
}

#content-main {
    width: 100%;
    margin: 0 0.5rem;
}

#form-contact {
    display: flex;
    flex-wrap: wrap;
}

#form-contact p {

}

#form-contact input {
    margin: 0.5rem 1rem;
}

main h3 {
    display: flex;
    justify-content: center;
    background-color: #F28705;
    padding: 0.5rem 10rem;
}

